/* Reset existing Optics layout */
html { overflow: unset; }
body { overflow: unset; }

/* New Layout */
html,
body {
  min-block-size: 100%;
  block-size: 100%;
  padding: 0;
  margin: 0;
}

.op-page {
  .op-page__body {
    display: grid;
    block-size: 100%;
    grid-template-columns: minmax(0, auto) minmax(0, 1fr);
    grid-template-areas: 'sidebar main';

    .op-page__sidebar { grid-area: sidebar; }
    .op-page__main { grid-area: main; }
  }

  .op-page__sidebar {
    position: sticky;
    inset-block-start: 0;
    block-size: 100dvh;
    max-block-size: 100dvh;
    overflow: auto;
    display: flex;
  }

  .op-page__main {
    display: grid;
    min-block-size: 100%;
    grid-template-rows: minmax(0, auto) minmax(0, 1fr) minmax(0, auto);
    grid-template-areas:
      'main-header'
      'main-content'
      'main-footer';

    .op-page__main-header { grid-area: main-header; }
    .op-page__main-content { grid-area: main-content; }
    .op-page__main-footer { grid-area: main-footer; }
  }

  .op-page__main-header {
    position: sticky;
    inset-block-start: 0px;
  }

  .op-page__main-content {
    padding-inline: 20px;
    margin-inline: auto;
    inline-size: 100%;
    max-inline-size: 1024px;

  }

  .op-page__main-footer {
    position: sticky;
    inset-block-end: 0px;
  }
}

/* Demo only */

.demo-footer {
  padding: var(--op-space-x-small);
}

/* --op-breakpoint-small */
@media (width < 768px) {
  .op-page {
    .op-page__sidebar {
      display: none;
    }
  }
}
