:root[data-op-layout-mode='root-scrollable'] {
  /* Reset existing Optics layout */
  overflow: unset;

  body {
    overflow: unset;
  }

  /* New Layout */
  html,
  body {
    padding: 0;
    margin: 0;
    block-size: 100%;
    min-block-size: 100%;
  }

  /*
    <html lang='en' data-op-layout-mode='root-scrollable'>
      <head>...</head>
      <body class="op-page">
        <div class="op-page__sidebar">...</div>
        <div class="op-page__main">
          <div class="op-page__main-header">...</div>
          <div class="op-page__main-content">...</div>
          <div class="op-page__main-footer">...</div>
        </div>
        <div class="op-page__sidebar op-page__sidebar--right">...</div>
      </body>
    </html>
  */

  .op-page {
    display: grid;
    min-height: 100dvh;
    grid-template-columns: minmax(0, auto) minmax(0, 1fr) minmax(0, auto);
    grid-template-areas: 'sidebar-left main sidebar-right';

    .op-page__sidebar {
      grid-area: sidebar-left;

      &.op-page__sidebar--right {
        grid-area: sidebar-right;
      }
    }

    .op-page__main {
      grid-area: main;
    }

    .op-page__sidebar {
      position: sticky;
      inset-block-start: 0;
      z-index: var(--op-z-index-sidebar);
      height: 100dvh;
      max-height: 100dvh;
      overflow: auto;

      > * {
        height: 100%;
      }
    }

    .op-page__main {
      display: grid;
      min-height: 100%;
      grid-template-columns: minmax(0, 1fr);
      grid-template-rows: minmax(0, auto) minmax(0, 1fr) minmax(0, auto);
      grid-template-areas:
        'main-header'
        'main-content'
        'main-footer';

      .op-page__main-header {
        grid-area: main-header;
      }

      .op-page__main-content {
        grid-area: main-content;
      }

      .op-page__main-footer {
        grid-area: main-footer;
      }

      .op-page__main-header {
        position: sticky;
        inset-block-start: 0;
        z-index: var(--op-z-index-header);
      }

      .op-page__main-content {
        width: 100%;
        margin-inline: auto;
        max-width: var(--op-breakpoint-medium);
        padding-inline: var(--op-space-large);
      }

      .op-page__main-footer {
        position: sticky;
        inset-block-end: 0;
        z-index: var(--op-z-index-footer);
      }
    }
  }
}

/* Demo only */

:root[data-op-layout-mode='root-scrollable'] {
  .op-page {
    .op-page__main-footer .navbar {
      box-shadow: var(--op-border-top) var(--op-color-border);
    }

    .op-page__sidebar {
      .sidebar {
        box-shadow: inset var(--op-border-left) var(--op-color-border);
      }

      &.op-page__sidebar--right .sidebar {
        box-shadow: inset var(--op-border-right) var(--op-color-border);
      }
    }
  }
}

/* --op-breakpoint-small */
@media (width < 768px) {
  :root[data-op-layout-mode='root-scrollable'] {
    .op-page {
      .op-page__sidebar {
        display: none;
      }
    }
  }
}
