:root[data-op-layout-mode='root-scrollable'] {
  /* Reset existing Optics layout */
  overflow: unset;
  /* html {
  } */
  body {
    overflow: unset;
  }

  /* New Layout */
  html,
  body {
    padding: 0;
    margin: 0;
    block-size: 100%;
    min-block-size: 100%;
  }

  /*
    <html lang='en' data-op-layout-mode='root-scrollable'>
      <head>...</head>
      <body>
        <div class="op-page">
          <div class="op-page__body">
            <div class="op-page__sidebar">...</div>
            <div class="op-page__main">
              <div class="op-page__main-header">...</div>
              <div class="op-page__main-content">...</div>
              <div class="op-page__main-footer">...</div>
            </div>
          </div>
        </div>
      </body>
    </html>
  */

  .op-page {
    .op-page__body {
      display: grid;
      block-size: 100%;
      grid-template-areas: 'sidebar main';
      grid-template-columns: minmax(0, auto) minmax(0, 1fr);

      .op-page__sidebar {
        grid-area: sidebar;
      }
      .op-page__main {
        grid-area: main;
      }
    }

    .op-page__sidebar {
      position: sticky;
      display: flex;
      overflow: auto;
      block-size: 100dvh;
      inset-block-start: 0;
      max-block-size: 100dvh;
    }

    .op-page__main {
      display: grid;
      grid-template-areas:
        'main-header'
        'main-content'
        'main-footer';
      grid-template-rows: minmax(0, auto) minmax(0, 1fr) minmax(0, auto);
      min-block-size: 100%;

      .op-page__main-header {
        grid-area: main-header;
      }
      .op-page__main-content {
        grid-area: main-content;
      }
      .op-page__main-footer {
        grid-area: main-footer;
      }
    }

    .op-page__main-header {
      position: sticky;
      inset-block-start: 0;
    }

    .op-page__main-content {
      inline-size: 100%;
      margin-inline: auto;
      max-inline-size: var(--op-breakpoint-medium);
      padding-inline: var(--op-space-large);
    }

    .op-page__main-footer {
      position: sticky;
      inset-block-end: 0;
    }
  }
}


/* Demo only */

.demo-footer {
  padding: var(--op-space-x-small);
}

/* --op-breakpoint-small */
@media (width < 768px) {
  .op-page {
    .op-page__sidebar {
      display: none;
    }
  }
}
